{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<div class="black-bg">
  <div id="faq-hero">
    <h1 class="hero-title">FAQ</h1>
  </div><!--/hero -->
</div>


<div id="faq-content">
  <div class="container">
    <h2>What are the copyrights to the hovalin? </h2>
    <p>The hovalin is licensed as Creative Commons Attribution Non-Commercial Share Alike. This means that you are welcome to modify and distribute the design and derivatives thereof. You must, however, maintain an open design and give credit to HOVA LLC with all derivatives and copies.</p>
    <p>You may use the hovalin for commercial purposes if you agree to send 10% of your gross revenue from use of the design to HOVA LLC every six months. <a href="/contact">Contact us</a> if further discussion is necessary.</p>

    <p>If you wish to use assets from the hovalin or hovalin.com for any media or promotional purpose, please <a href="/contact">contact us.</a></p>

    <p>The hovalin by HOVA LLC (www.hovalin.com) is licensed under a Creative Commons Non-Commerical Attribution ShareAlike 4.0 Unported License. Based on a work at hovalin.com</p>

    <h2>Can you print in any other size other than a full size violin? </h2>
    <p>It is our goal to release models of the hovalin for all standard violin sizes. We currently have released 4/4. But next up is 1/2, followed by 1/4, and 3/4.


    <h2>Is the hovalin louder than standard violins?</h2>
    <p>No. Well, at least not yet. Following in the footsteps of other luthiers, our goal is to iterate on the violin's design to constantly increase acoustic output and improve playability.</p>
    <p>On the other hand, having a quieter instrument, with equal playability, has its benefits as an educational tool.</p>


    <h2>Why is there a cat in the photo at the top of this page?</h2>
    <p>That's our QA manager. Half kidding, she is our cat that tirelessly naps by our side while we work on this project. Her name is <a href="http://kaitlynhova.com/adventures/the-time-cat-went-viral/" target="_blank">Cat Hova</a>.</p>


    <h2>Why don’t I just buy a cheap new violin through Amazon? </h2>
    <p>Yes, yes you can. <a href="http://www.amazon.com/gp/product/B0017O4YYQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0017O4YYQ&linkCode=as2&tag=hovalin-20&linkId=6YPULVFPC6P3BMQU">Here is the link to the best deal we’ve found. Even comes with a case, a bow, rosin, a tuner, and a spare set of strings.</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hovalin-20&l=as2&o=1&a=B0017O4YYQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>

    <h2>Why should I buy/build a 3D printed violin instead?</h2>
    <ul>
      <li>It's sturdier than standard violins and individual pieces can be easily replaced if broken.</li>
      <li>You can customize the violin's shape and color.</li>
      <li>3D printing is sooo cool.</li>
    </ul>
    <h2>Do you have a place where you archive your designs and keep track of future enhancements? Can I make a feature request?</h2>
    <p>The violin's 3D model files are available via github. Please post any feature requests or issues <a href="https://github.com/matthova/hovalin-files/issues">here.</a></p>

    <h2>Where's the chinrest?</h2>
    <p>That's a great example of a feature request. Check out the progress <a href="https://github.com/matthova/hovalin-files/issues">here.</a></p>


    <h2>Do I need to re-orient the model to make it fit? Does the Hovalin fit on my printer?</h2>
    <p>Each .stl is oriented to be flush with the print bed. If it doesn't fit, it may need to be rotated slightly. Depending on the printer, the part may be too big for your printer.</p>


    <h2>We're having a hard time getting the strings to stay in their grooves</h2>
    <p>This is tricky. <a href="/make/#install-strings">Per the instructions</a>, make sure that the string winds down to the bottom of the tuning peg. It will take some guesswork, and it may take multiple tries, but it should work. Let us know if you run into any unsolvable issue or if you come up with any cool techniques for solving this obstacle.</p>


    <h2>Do I need to generate support to print the violin?</h2>
    <p>No support is necessary to print the violin.</p>


    <h2>Have you tried printing the violin with "________ Material"?</h2>
    <p>Thus far, we've only printed the violin in PLA. If you print the violin in any other material, share the photos/videos! We'd love to hear about your experiences.</p>


    <h2>Does altering the infill or print settings change the sound quality?</h2>
    <p>We're not sure, but that makes sense. Let us know if you discover any cool tricks!</p>


    <h2>Can you give us the CAD files instead of just the STL.</h2>
    <p>Of course! The CAD files are available <a herf="https://myhub.autodesk360.com/ue29ebad0/shares/public/SH7f1edQT22b515c761ebfb739b9ee6cf79d">here.</a></p>


    <h2>Any plans for going bigger? Viola? Cello? Double Bass?</h2>
    <p>More info coming soon, but feel free to edit our <a herf="https://myhub.autodesk360.com/ue29ebad0/shares/public/SH7f1edQT22b515c761ebfb739b9ee6cf79d">CAD</a>.</p>


    <h2>What if I have more quesions?</h2>
    <p>More questions? No problem! <a href="/contact">Hit us up </a></p>
  </div>
</div>
{{/post}}
