{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}
<div id="hovalin-productpage" class="productpage">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="product-image" src="../assets/images/product-image-hovalin.png">
      </div>
      <div class="col-sm-6">
        <h1>The Official DIY kit</h1>
        <p class="product-subtitle">Assemble it yourself</p>
        <p class="price"> $300</p>

        <p>INCLUDES</p>
        <ul>
          <li>3D printed parts</li>
          <li>Rods</li>
          <li>Tuners</li>
          <li>Strings</li>
        </ul>

        <button class="buy-it">
          <p>BUY</p>
        </button>

        <div id="myDropdown">
          <select id="selectMenu">
            <option value="0" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/facebook-icon-32.png"
                      data-description="Description with Facebook">Facebook</option>
            <option value="1" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/twitter-icon-32.png"
                      data-description="Description with Twitter">Twitter</option>
            <option value="2" selected="selected" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/linkedin-icon-32.png"
                      data-description="Description with LinkedIn">LinkedIn</option>
            <option value="3" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/foursquare-icon-32.png"
                      data-description="Description with Foursquare">Foursquare</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="WPJ9L8UH5JLAS">
    <table>
      <tr>
        <td>
          <input type="hidden" name="on0" value="Color">Color
        </td>
      </tr>
      <tr>
        <td>
          <select name="os0">
            <option value="Black">Black </option>
            <option value="White">White </option>
            <option value="Opaque">Opaque </option>
            <option value="Brown">Brown </option>
            <option value="Grey">Grey </option>
            <option value="Red">Red </option>
            <option value="Orange">Orange </option>
            <option value="Yellow">Yellow </option>
            <option value="Green">Green </option>
            <option value="Blue">Blue </option>
            <option value="Purple">Purple </option>
          </select>
        </td>
      </tr>
    </table>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>

  <div id="recommended-items">
    <div class="row">

      <div id="parts" class="col-sm-6 item">
        <h1>Parts</h1>
        <p>No 3d printer? no problem.</p>
        <a href="../parts">
          <button class="buy-it">BUY</button>
        </a>
      </div>

      <div id="fully-assembled-hovalin" class="col-sm-6 item">
        <h1>The Hovalin</h1>
        <p>No assembly required</p>
        <a href="../hovalin">
          <button class="buy-it">BUY</button>
        </a>
      </div>
    </div>
  </div>
</div>
{{/post}}
