{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<div id="parts-productpage" class="productpage">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="product-image" src="../assets/images/product-page/product-image-parts.png">
      </div>
      <div class="col-sm-6">
        <h1>3D printed parts</h1>
        <p class="product-subtitle">Assemble it yourself</p>
        <p class="price"> $300</p>

        <p>INCLUDES:</p>

        <div class="list-item row">
          <div class="col-xs-2 no-padding">
            <img src="/assets/images/list-arrow.svg">
          </div>
          <div class="col-xs-10">
            3D printed parts
          </div>
        </div>

        <div class="color-selector">
          <p>SELECT A COLOR</p>

          {{> "color-selector"}}
          <form style="display:none" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="T3P49PDFZQAPG">
          <table>
          <tr><td><input type="hidden" name="on0" value="Color">Color</td></tr><tr><td><select name="os0">
            <option id="paypal-color" value="Black">Black </option>
          </select> </td></tr>
          </table>
          <input id="paypal-submit" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div id="product-note">
    <div class="container">
      <div class="col-xs-12">
        <p>* Note *</p>
        <p> All violin parts are printed with Hatchbox PLA filament. Gold, Silver, Bronze, and Copper reference colors, and are not inferring that the violin will actually be made with any precious metal. Checkout Hatchbox PLA colors <a href="http://www.amazon.com/HATCHBOX-3D-Printer/b/ref=bl_dp_s_web_9702580011?ie=UTF8&node=9702580011&field-lbr_brands_browse-bin=HATCHBOX+3D+Printer" target="_blank">here</a>. Official Hovalins come with a hovalin logo embeded on the tailpiece. </p>
        <p> All parts are made to order. Shipping estimate is 2 weeks.</p>
      </div>
    </div>
  </div>

  <div id="recommended-items">
    <div class="row">

      <div id="kit" class="col-sm-6 item">
        <h1>DIY kit</h1>
        <p>Everything you need</p>
        <a href="../kit">
          <button class="buy-it">BUY</button>
        </a>
      </div>

      <div id="fully-assembled-hovalin" class="col-sm-6 item">
        <h1>The Hovalin</h1>
        <p>No assembly required</p>
        <a href="../hovalin">
          <button class="buy-it">BUY</button>
        </a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></script>
<script>
$(document).ready(function(){
  $("#color-selector").change(function() {
    var hex_val = $("#color-selector").val();
    var color_text = $("#color-selector option[value='" + hex_val + "']").text();
    $("#selected-color-box").css("background-color", hex_val);
    $("#paypal-color").attr("value", color_text);
  });
  $("#checkout").click(function() {
    $("#paypal-submit").click();
  });
})
</script>

{{/post}}
