<select id="color-selector" name="os0">
	<option id="paypal-violin-color" value="#000000">Black</option>
	<option id="paypal-violin-color" value="#ffffff">White</option>
	<option id="paypal-violin-color" value="#888888">Gray</option>
</select>
<button id="checkout">
	<span id="selected-color-box"></span>
	<p>BUY</p>
</button>
