<div class="col-sm-12">
	<div class="col-sm-12">
		<div class="color-block" id="hovalin-buy-black">Black</div>
		<div class="color-block" id="hovalin-buy-white">White</div>
		<div class="color-block" id="hovalin-buy-gray">Gray</div>
		<div class="color-block" id="hovalin-buy-brown">Brown</div>
	</div>
	<div class="col-sm-12">
		<div class="color-block" id="hovalin-buy-red">Red</div>
		<div class="color-block" id="hovalin-buy-orange">Orange</div>
		<div class="color-block" id="hovalin-buy-yellow">Yellow</div>
		<div class="color-block" id="hovalin-buy-green">Green</div>
	</div>
	<div class="col-sm-12">
		<div class="color-block" id="hovalin-buy-blue">Blue</div>
		<div class="color-block" id="hovalin-buy-purple">Purple</div>
		<div class="color-block" id="hovalin-buy-red-transparent">Red Transparent</div>
		<div class="color-block" id="hovalin-buy-orange-transparent">Orange Transparent</div>
	</div>
	<div class="col-sm-12">
		<div class="color-block" id="hovalin-buy-yellow-transparent">Yellow Transparent</div>
		<div class="color-block" id="hovalin-buy-green-transparent">Green Transparent</div>
		<div class="color-block" id="hovalin-buy-blue-transparent">Blue Transparent</div>
		<div class="color-block" id="hovalin-buy-purple-transparent">Purple Transparent</div>
	</div>
	<div class="col-sm-12">
		<div class="color-block" id="hovalin-buy-gold">Gold</div>
		<div class="color-block" id="hovalin-buy-silver">Silver</div>
		<div class="color-block" id="hovalin-buy-bronze">Bronze</div>
		<div class="color-block" id="hovalin-buy-copper">Copper</div>
	</div>
	<div class="col-sm-12">
		<div class="color-block" id="hovalin-buy-white-transparent">White Transparent</div>
		<div class="color-block" id="hovalin-buy-pink">Pink</div>
		<div class="color-block" id="hovalin-buy-neon-green">Neon Green</div>
		<div class="color-block" id="hovalin-buy-glow-in-the-dark">Glow-In-The-Dark</div>
	</div>
</div>