<select name="os0">
	<option id="paypal-violin-color" value="Black">Black</option>
	<option id="paypal-violin-color" value="White">White</option>
	<option id="paypal-violin-color" value="Gray">Gray</option>
</select>

