<select id="color-selector" name="os0">
	<option id="paypal-violin-color" value="#000000">Black</option>
	<option id="paypal-violin-color" value="#ffffff">White</option>
	<option id="paypal-violin-color" value="#b3b2b7">Gray</option>
	<option id="paypal-violin-color" value="#615353">Brown</option>
	<option id="paypal-violin-color" value="#ea5d86">Pink</option>
	<option id="paypal-violin-color" value="#74eb2d">Neon Green</option>
	<option id="paypal-violin-color" value="#d4dfbf">Glow-In-The-Dark</option>
	<option id="paypal-violin-color" value="#c02026">Red</option>
	<option id="paypal-violin-color" value="#f76408">Orange</option>
	<option id="paypal-violin-color" value="#fefd02">Yellow</option>
	<option id="paypal-violin-color" value="#5ab364">Green</option>
	<option id="paypal-violin-color" value="#0c05c4">Blue</option>
	<option id="paypal-violin-color" value="#a84291">Purple</option>
	<option id="paypal-violin-color" value="#4a5252">Black (Transparent)</option>
	<option id="paypal-violin-color" value="#ffffff">White (Transparent)</option>
	<option id="paypal-violin-color" value="#bc3c35">Red (Transparent)</option>
	<option id="paypal-violin-color" value="#f16f19">Orange (Transparent)</option>
	<option id="paypal-violin-color" value="#f2d400">Yellow (Transparent)</option>
	<option id="paypal-violin-color" value="#85d478">Green (Transparent)</option>
	<option id="paypal-violin-color" value="#2f62a6">Blue (Transparent)</option>
	<option id="paypal-violin-color" value="#a89054">Gold</option>
	<option id="paypal-violin-color" value="#acaeb7">Silver</option>
	<option id="paypal-violin-color" value="#aa9c6d">Bronze</option>
	<option id="paypal-violin-color" value="#a78770">Copper</option>
</select>
<button id="checkout">
	<span id="selected-color-box"></span>
	<p>BUY</p>
</button>