#hovalin-buy-black{
    background: #19181b;
}

#hovalin-buy-white{
    background-color: #ffffff;
    color: #000000;
}

#hovalin-buy-gray{
    background-color: #b3b2b7;
}

#hovalin-buy-brown{
    background-color: #615353;
}

#hovalin-buy-pink{
    background-color: #ea5d86;
}

#hovalin-buy-neon-green{
    background-color: #74eb2d;
}

#hovalin-buy-glow-in-the-dark{
    background-color: #d4dfbf;
}

#hovalin-buy-red{
    background-color: #c02026;
}

#hovalin-buy-orange{
    background-color: #f76408;
}

#hovalin-buy-yellow{
    background-color: #fefd02;
}

#hovalin-buy-green{
    background-color: #5ab364;
}

#hovalin-buy-blue{
    background-color: #0c05c4;
}

#hovalin-buy-purple{
    background-color: #a84291;
}

#hovalin-buy-black-transparent{
    background-color: #4a5252;
}

#hovalin-buy-white-transparent{
    background-color: #ffffff;
}

#hovalin-buy-red-transparent{
    background-color: #bc3c35;
}

#hovalin-buy-orange-transparent{
    background-color: #f16f19;
    color: #444444;
}

#hovalin-buy-yellow-transparent{
    background-color: #f2d400;
}

#hovalin-buy-green-transparent{
    background-color: #85d478;
}

#hovalin-buy-blue-transparent{
    background-color: #2f62a6;
}

#hovalin-buy-gold{
    background-color: #a89054;
    color: #000000;
}

#hovalin-buy-silver{
    background-color: #acaeb7;
}

#hovalin-buy-bronze{
    background-color: #aa9c6d;
}

#hovalin-buy-copper{
    background-color: #a78770;
}