.color-block{
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
    font-size: 12.5px;
    color: #f5f5f5;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    width: 12.5%;
    height: 60px;
    text-align: center;
}

#hovalin-buy-black{
    background: #000000;
}

#hovalin-buy-white{
    background-color: #ffffff;
    color: #000000;
}

#hovalin-buy-gray{
    background-color: #808080;
}

#hovalin-buy-brown{
    background-color: #654321;
}

#hovalin-buy-pink{
    background-color: #ff00ff;
}

#hovalin-buy-neon-green{
    background-color: #00ff00;
    color: #000000;
}

#hovalin-buy-glow-in-the-dark{
    background-color: #88ff88;
    color: #000000;
}

#hovalin-buy-red{
    background-color: #ff0000;
}

#hovalin-buy-orange{
    background-color: #ffa500;
}

#hovalin-buy-yellow{
    background-color: #ffff00;
    color: #000000;
}

#hovalin-buy-green{
    background-color: #008000;
}

#hovalin-buy-blue{
    background-color: #0000ff;
}

#hovalin-buy-purple{
    background-color: #800080;
}

#hovalin-buy-black-transparent{
    background-color: #222222;
}

#hovalin-buy-white-transparent{
    background-color: #ffffff;
    color: #666666;
}

#hovalin-buy-red-transparent{
    background-color: #ff0000;
}

#hovalin-buy-orange-transparent{
    background-color: #ffa566;
    color: #444444;
}

#hovalin-buy-yellow-transparent{
    background-color: #ffff00;
    color: #000000;
}

#hovalin-buy-green-transparent{
    background-color: #008000;
}

#hovalin-buy-blue-transparent{
    background-color: #0000ff;
}

#hovalin-buy-purple-transparent{
    background-color: #800080;
}

#hovalin-buy-gold{
    background-color: #ffd700;
    color: #000000;
}

#hovalin-buy-silver{
    background-color: #c0c0c0;
    color: #000000;
}

#hovalin-buy-bronze{
    background-color: #cd7f32;
}

#hovalin-buy-copper{
    background-color: #b87333;
}