.foo {   
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.buy-form .black{
    background-color: #000000;
}

.buy-form .white{
    background-color: #ffffff;
}

.buy-form .gray{
    background-color: #808080;
}

.buy-form .brown{
    background-color: #a52a2a;
}

.buy-form .pink{
    background-color: #ff00ff;
}

.buy-form .neon-green{
    background-color: #00ff00;
}

.buy-form .glow-in-the-dark{
    background-color: #88ff88;
}

.buy-form .red{
    background-color: #ff0000;
}

.buy-form .orange{
    background-color: #ffa500;
}

.buy-form .yellow{
    background-color: #ffff00;
}

.buy-form .green{
    background-color: #008000;
}

.buy-form .blue{
    background-color: #0000ff;
}

.buy-form .purple{
    background-color: #800080;
}

.buy-form .black-transparent{
    background-color: #000000;
}

.buy-form .white-transparent{
    background-color: #ffffff;
}

.buy-form .red-transparent{
    background-color: #ff0000;
}

.buy-form .orange-transparent{
    background-color: #ffa500;
}

.buy-form .yellow-transparent{
    background-color: #ffff00;
}

.buy-form .green-transparent{
    background-color: #008000;
}

.buy-form .blue-transparent{
    background-color: #0000ff;
}

.buy-form .purple-transparent{
    background-color: #800080;
}

.buy-form .gold{
    background-color: #ffd700;
}

.buy-form .silver{
    background-color: #c0c0c0;
}

.buy-form .bronze{
    background-color: #cd7f32;
}

.buy-form .copper{
    background-color: #b87333;
}

.buy-form form{
    text-align: center;
    margin: 100px auto;
}
