#contact-hero{
  color: white;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('../images/makeit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  p{
    margin: 0;
  }
}

#contact-form{
  display: block;
  margin: 0 auto;
}

#contact-form li, .contact-information-area li{
  list-style: none;
}

#contact-form label{
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  font-size: 15px;
  padding-bottom: 5px;
}

#contact-form input{
  width: 100%;
  margin-bottom: 20px;
}

#contact-form textarea{
  width: 100%;
  outline: none;
  height: 145px;
  border: solid 1px #ccc;
  resize: none;
  padding: 20px;
}

#contact-form input[type="submit"] {
  margin-top: 25px;
  background-color: #dda658;
  border: 1px solid #dda658;
  transition: .5s;
  border-radius: 0px;
}

#contact-form input[type="submit"]:hover {
  margin-top: 25px;
  background-color: #dda658;
  border: 1px solid #dda658;
  border-radius: 0px;
}

#contact-form h1{
  margin-top: 0px;
  font-size: 33px;
  font-weight: 700;
  color: #333;
  padding-bottom: 35px;
}

.contact-form-area{
  padding-top: 75px;
  padding-bottom: 75px;
}

.contact-information-area{
  padding-top: 75px;
  padding-bottom: 75px;
}

.contact-information-area h1{
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-information-area .also-interested{
 padding-top: 35px;
}

.contact-information-area ul{
  margin-left: 20px;
}

.contact-information-area a{
  color: #dda658;
  transition: .5s;
}

.contact-information-area li{
  font-weight: 700;
  margin: 0 0 50px 0;
  font-weight: bold;
  font-size: 21px;
  list-style: none;
}

.contact-information-area li:before{
  position: relative;
  top: -7px;
  display: inline-block;
  content: " ";
  width: 40px;
  height: 1px;
  margin: 0 40px 0 0;
  background: #b3b3b3;
}

.contact-information-area a:hover{
  color: #dda658;
  opacity: .7;
}


#faq-content{
  padding-top: 40px;
  padding-bottom: 75px;
  h2{
    color: #ed583a;
    padding-top: 35px;
  }
  a{
    color: inherit;
  }
  li{
    list-style: none;
    &:before{
      position: relative;
      top: -7px;
      display: inline-block;
      content: " ";
      width: 40px;
      height: 1px;
      margin: 0 40px 0 0;
      background: #b3b3b3;
    }
  }
}


#faq-hero{
  color: white;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 150px;
  background-image: url('../images/faqhero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}