/* DOCS PAGE */

#docs-hero{
  color: white;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('../images/makingit.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1{
    color: white;
    margin: 0px;
    width: 100%;
  }
  .powered-by{
    font-size: 16px;
    font-style: italic;
  }
  .download-button{
    background-color: #F2B449;
    border: 2px solid #F2B449;
    padding: 20px 60px 20px 60px;
    transition: .5s;
    &:hover{
      background-color: transparent;
      color: #F2B449;
    }
  }
}

#maker-warning{
  background-color: #E4EAEC;
  text-align:center;
  .fa{
    font-size: 30px;
    padding-bottom: 40px;
  }
}



.step-index{
  padding: 35px 0 35px 0;
  text-align:center;
  border: 1px solid #E4EAEC;
  transition: .5s;
  color: #6D6D6D;
  &:hover{
    background-color: #F2B449;
    border: 1px solid #F2B449;
    color: white;
  }
  .number{
    font-size: 30px;
  }
  p{
    margin: 0;
  }
}


.step{
  padding-top:75px;
  padding-bottom: 75px;
  h4{
    font-size: 20px;
     margin-top: 25px;
     margin-bottom: 10px;
     font-weight: 600;
     letter-spacing: 3px;
  }
  .title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 75px;
  }
  .number{
    font-size: 45px;
    display: block;
    text-align:center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

#shopping-list{
  color: #6D6D6D;
 a{
    border-bottom: 3px solid #b4e7f8;
    color: inherit;
    box-shadow: inset 0 -2px 0 #b4e7f8;
    transition: background .15s cubic-bezier(.33,.66,.66,1);
  }
  a:hover{
    background-color: #b4e7f8;
    color: inherit;
  }
  .check{
    max-width: 40px;
    position: relative;
    top: 20px;
  }
  h4{
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 18px;
  }
  li{
    list-style: none;
    &:before{
      position: relative;
      top: -7px;
      display: inline-block;
      content: " ";
      width: 40px;
      height: 1px;
      margin: 0 40px 0 0;
      background: #b3b3b3;
    }
  }
}

#know-your-3dprinter img{
    display: block;
    margin: 0 auto;
    max-width: 500px;
    opacity: .9;
}


#print-the-parts{
  background-color: #E8E8E8;
  a{
    color: inherit;
  }
  li{
    list-style: none;
  }
  &:before{
    position: relative;
    top: -7px;
    display: inline-block;
    content: " ";
    width: 40px;
    height: 1px;
    margin: 0 40px 0 0;
    background: #b3b3b3;
  }
}

.part {
  .description-text{
    margin-top: 50px;
  }
  .fa-download{
    color: #dda658;
    padding-left: 11px;
    font-size: 24px;
  }
  p {
    margin-bottom: 0px !important;
  }
  h4{
   font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 3px;
 }
 .buttons{
   margin-top: 50px;
   margin-bottom: 50px;
   .gray-btn{
     background-color: #444545;
     color: white;
     padding: 20px;
     margin-bottom: 50px;
     text-align:center;
   }
   .white-btn{
     background-color: #ffffff;
     color: #444545;
     text-align:center;
     padding: 20px;
     margin-bottom: 50px;
   }
 }
}


#the-neck{
  background-color: #f5f5f5;
  .hovalin-neck{
    width: 100%;
    max-width: 70px;
    display: block;
    margin: 0 auto;
  }
}

#the-top{
  background-color: #E8E8E8;
  .hovalin-top{
    width: 100%;
    max-width: 410px;
    display: block;
    margin: 0 auto;
  }
}

#the-face{
  background-color: #f5f5f5;
}

#the-bottom{
  background-color: #E8E8E8;
  .hovalin-bottom{
    max-width: 550px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

#install-pegs, #install-strings{
  background-color: #E8E8E8;
}