
@media only screen and (min-width : 1500px) {
  .post-template .post-title{
    margin-bottom: 0;
    margin-top: 400px;
  }
  h1.hero-title{
    font-size: 100px;
  }
  .post-template .post-date {
    margin-top: 35px;
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 990px) {
  .mobile-nav-logo {
    top: -4px !important;
  }
}

@media only screen and (max-width: 768px) {

  #blog-page {
    padding-top: 0px !important;
  }

  .contact-information-area li {
    font-size: 20px;
  }

  .contact-information-area{
    padding-top: 0px;
  }

  .post-template .post-title{
    top: -60px;
  }

  #hero .page-title {
    font-size: 65px;
  }

  .post-date{
    position: relative;
    top: -50px;
  }

  .black-bg{
    background-color: black;
  }

  #mailinglist{
    text-align: center;
    padding-bottom: 140px;
  }
  #mailinglist p{
    padding-top: 20px;
  }
  #mailinglist .subtitle{
    text-align: center;
    margin-top: -20px;
  }
  .buttons{
    text-align:center;
  }
  .step .number{
    display: block;
  }
  .hovalin-neck {
    width: 100%;
    max-width: 50px;
    display: block;
    margin: 0 auto;
  }

  .hovalin-top{
    position: relative;
    top: 50px;
  }

  .hovalin-bottom {
    position: relative;
    top: 90px;
  }

  .hovalin-face{
    position: relative;
    top: 60px;
  }

  .mobile-nav-logo {
    float: left;
    font-size: 30px;
    color: white;
    font-weight: 900;
    position: absolute;
    left: 20px;
  }
}

/* NAV FIX */
@media only screen and (min-width: 990px) {
  .push-body-toleft {
    left: 0px !important;
    position: relative !important;
  }
}