.toggle-menu{
  float: right;
  color: white;
  border: 0;
  font-size: 48px;
  outline: none;
  padding-right: 11px;
  height: 65px;
  padding-left: 11px;
  background-color: transparent;
  transition: 1s;
  &:hover{
    background-color: #dda658;
  }
}

#mobile-nav{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  left: 0;
  .mobile-nav-logo {
    float: left;
    font-size: 30px;
    color: white;
    font-weight: 900;
    position: absolute;
    top: -5px;
    left: 20px;
  }
}

#custom-navigation{
  background-color: rgba(26, 26, 26, 0.25);
  position: fixed;
  width: 100%;
  z-index: 999999;
  transition: .5s;
  height: 67px;
  a{
    color: white !important;
    font-size: 18px !important;
  }
  .desktop-logo{
    float: left;
    font-size: 30px !important;
    color: white;
    font-weight: 900;
    position: absolute;
    left: 20px;
    top: 18px;
  }
  .top-nav-ul{
    display: block;
    text-align: right;
    color:  #ffffff !important;
    & > a{
      color: white;
      text-decoration: none;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
    li{
      display: inline;
      font-family: 'europaregular';
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 1px;
      padding: 39px;
      padding-left: 25px;
      padding-right: 25px;
      transition: .5s;
      &:hover{
        background-color: rgba(60,69,68,.9);
      }
      &.support-button{
        background-color: #dda658;
        transition: 5s;
        &:hover{
          background-color: #ffffff;
          color: #dda658;
        }
        a{
          color: white !important;
          opacity: 1 !important;
        }
      }
      p{
        display: inline;
        position: relative;
        top: 17px;
        font-size: 18px;
      }
    }
  }
}