.productpage {
  background-color: #f4f4f4;
  padding-top: 150px;
  padding-bottom: 150px;
  .price{
    color: #333;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .buy-it{
    color: #dda656;
    background: transparent;
    border: 2px solid #dda656;
    outline: 0;
    padding: 20px 90px 20px 90px;
    margin-top: 15px;
    transition: .5s;
    &:hover{
      color: white;
      background: #dda656;;
    }
  }
  p{
    margin: 0;
  }
  li{
    list-style: none;
  }
  li:before{
    position: relative;
    top: -7px;
    display: inline-block;
    content: " ";
    width: 40px;
    height: 1px;
    margin: 0 40px 0 0;
    background: #b3b3b3;
  }
  .product-subtitle{
    letter-spacing: 3px;
    font-style: italic;
  }
}

#hovalin-productpage{
  .product-image{
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}