.productpage {
  background-color: #f4f4f4;
  padding-top: 150px;
  a{
    color: inherit;
  }
  #product-note{
    background-color: #E8E8E8;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 75px;
  }
  #selected-color-box{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: black;
    float: left;
    border: 3px solid #dda658;
  }
  select{
    margin-top: 20px;
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 20px 60px;
    width: 100%;
    outline: 0;
    max-width: 300px;
    text-align: center;
    transition: .5s;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: 95%;
  }
  ul{
    margin-bottom: 35px;
  }
  .price{
    color: #333;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .buy-it{
    color: #dda656;
    background: transparent;
    border: 2px solid #dda656;
    outline: 0;
    padding: 20px 30px;
    margin-top: 15px;
    transition: .5s;
    &:hover{
      color: white;
      background: #dda658;
    }
    p{
      float: right;
      padding-left: 20px;
      position: relative;
      top: 10px;
    }
  }
  #checkout{
    color: white;
    background: #dda658;
    border: 3px solid #dda656;
    outline: 0;
    padding: 20px 30px;
    margin-top: 35px;
    transition: .5s;
    font-weight: bold;
    width: 100%;
    max-width: 165px;
    &:hover{
      background: transparent;
      color: #dda658;
    }
    p{
      float: right;
      padding-left: 20px;
      position: relative;
      top: 10px;
    }
  }
  p{
    margin: 0;
  }
  li{
    list-style: none;
  }
  li:before{
    position: relative;
    top: -7px;
    display: inline-block;
    content: " ";
    width: 40px;
    height: 1px;
    margin: 0 20px 0 0;
    background: #b3b3b3;
  }
  .product-subtitle{
    letter-spacing: 3px;
    font-style: italic;
  }
  #recommended-items{
    text-align: center;
    background-color: #313131;
    color: white;
    h1{
      color: white;
    }
    #fully-assembled-hovalin{
      background-image: url('../images/hovalin-product-background.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .item{
      padding-top: 125px;
      padding-bottom: 125px;
    }
    #kit{
      background-image: url('../images/hovalinkit.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    #parts{
      background-image: url('../images/parts.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

#hovalin-productpage{
  .product-image{
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

#parts-productpage{
  .product-image{
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}